/* body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  } */

.game {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.game-board {
    margin: auto;
    margin-top: 1rem;
}

.game-board > .game-row::after {
    clear: both;
    display: table;
    content: "";
}

.game-square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 5em;
    font-weight: bold;
    line-height: 34px;
    height: 10rem;
    width: 10rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.game-square.draw {
    background-color: red;
}

.game-square:hover {
    background-color: #FFFF00CC;
}

.game-square.highlighted {
    background-color: green;
}

@media only screen and (max-width: 960px) {
    .game-square {
        height: 8rem;
        width: 8rem;
    }
}

@media only screen and (max-width: 800px) {
    .game-square {
        font-size: 4em;
        height: 7rem;
        width: 7rem;
    }
}

@media screen and (max-width: 540px) {
    .game-square {
        height: 6rem;
        width: 6rem;
    }
}