/* .media-modal {
    display: inline-block;
    text-align: center;
    left: 0;
    z-index: 9999;
    position: fixed;
} */

.modal-close-btn-container {
    width: 100%;
    float: right;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal-close-btn {
    float: right;
    color: #ffffff;
    padding-right: 0.5rem;
    font-size: xx-large;
}

.modal-media-container {
    width: 100%;
    position: relative;
}

.modal-media-container iframe {
    width: 100%;
    height: 50rem;
}

.modal-media-contents-img {
    width: 100%;
    height: 100;
    /* object-fit: cover; */
}

.modal-media-contents-video {
    width: 100%;
    height: 40rem;
    /* object-fit: cover; */
}

.media-modal-target {
    cursor: pointer;
}

.loading-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}