/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
  }
  
  /* Add some content at the bottom of the video/page */
  .vid-content {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
  }